.body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#bannerImage {
  height: 100%;
  width: 100%;
  background-image: url("Mask group.png");
  background-size: cover;
  color: white;
  padding-right: 100px;

}

#bannerImage div {
  float: right;
  margin: 100px 100px 40px 0px;
}

#bannerImage div h2 {
  font-weight: 500 px;
  font-size: 55px;
}
.cart{
  float: right;
  padding:20px;
}
.planty{
  text-align: center;
}
.plant_area {
  padding: 25px 0px;
  background: red;
}

.txt2 a {
  text-decoration: none;
  color: #366D4A;
}

.txt2 h4 {
  color: #366D4A;
}
.txt2 h6 {
  color: #366D4A;
}

.txt1 h4 {
  color: #366D4A;
}

.txt1 h6 {
  color: #366D4A;
}
.txt1 a {
  color: #366D4A;
}

.fig_1 {
  width: 80%;
  position: relative;
  margin: 0 10%;
  color: white;
  /* background-color: blue; */
}
@media screen and (max-width:1000px){
  .fig_1{
    margin:10px;
    width:100%;
  }
  
}
.fig_1 img{
  width:100%;

}
.figure-img {
  width: 100%;
}

.card-info {
  position: absolute;
  background-color: rgba(21, 18, 18, 0.252);
  width: 100%;
  display: none;
  color: white;
  

}

.fig_1:hover .card-info {
  display: block;
}

.card-info button {
  border-radius: 12px;
  color: white;
  border: solid white;
  background-color: transparent;
  padding: 5px 15px;
  margin: 10px 10px;

}
.card-info p{
  margin:10px;
}

.searcharea {
  background-color: #014b40;
  padding:20px 20px;

}


.searchbutton{
 width:100px;
  background-color: white;
}


.box{
 

}
.flowerarea {
  padding: 20px 0px;
  margin: 60px;
}

.flowerbox img {
  width: 100%;
}

.flowerarea h4 {
  text-decoration: none;
  color: #014b40;
}

.rectanglearea {
  margin: 80px 200px;
  padding: 150px 40px;
  background: url(rectangle.png) no-repeat;
  text-align: center;
}

.rectangleareaimage {

  text-align: center;
  padding-left: 100px ;
  padding-right: 100px;


}
.rectanglearea h1{
  color: white;
}

.rectangleareaimage div h2 {
  font-weight: 500px;
  font-size: 55px;
  color: aliceblue;

}

.rectangleareaimage h2 {
  color: white;
}

.rectangleareaimage p {
  color:white;

}
.rectanglearea h3{
  color:white;
}

.design {
  background-color: #014b40;
  color: #CFCFCF;
  padding: 20px 0;
}

.design h2 {
  color: white;
}

.design ul {
  list-style: none;
  padding: 0;
}
.mb-3{
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px 50px;
}
.txt2{
  float:right;
 
}



.videobox{
  position:relative;
}

.videobox h1{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  text-shadow:3px 3px 3px lab(82.78% -30.82 81.23 / 0.815);
  
  color: white;
}